.inline {
  display: inline;
}

.linkButton {
  background: none;
  border: none;
}

.fullwidth {
  width: 100%;
  max-width: none;
}

.noLeftMargin {
  margin-left: 0 !important;
}

.overflowWrap {
  overflow-wrap: break-word;
}

ul.noStyle li {
  list-style-type: none;
}

/* This is mostly stolen from Buefy */
@media screen and (max-width: 768px) {
  .table.has-mobile-cards thead {
    display: none;
  }
  .table.has-mobile-cards tfoot th {
    border: 0;
    display: inherit;
  }
  .table.has-mobile-cards tr {
    box-shadow:
      0 2px 3px hsla(0, 0%, 4%, 0.1),
      0 0 0 1px hsla(0, 0%, 4%, 0.1);
    max-width: 100%;
    position: relative;
    display: block;
  }
  .table.has-mobile-cards tr td {
    border: 0;
    display: inherit;
  }
  .table.has-mobile-cards tr td:last-child {
    border-bottom: 0;
  }
  .table.has-mobile-cards tr:not(:last-child) {
    margin-bottom: 1rem;
  }
  .table.has-mobile-cards tr:not([class*='is-']) {
    background: inherit;
  }
  .table.has-mobile-cards tr:not([class*='is-']):hover {
    background-color: inherit;
  }
  .table.has-mobile-cards tr.detail {
    margin-top: -1rem;
  }
  .table.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td {
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    border-bottom: 1px solid #f5f5f5;
  }
  .table.has-mobile-cards
    tr:not(.detail):not(.is-empty):not(.table-footer)
    td:before {
    content: attr(data-label);
    font-weight: 600;
    margin-right: auto;
    padding-right: 0.5em;
    text-align: left;
    word-break: keep-all;
  }
}

/* Increase wishlist user avatar size on mobile for better visibility */
@media screen and (max-width: 768px) {
  /* target the small avatar used in wishlists.pug */
  .box .columns.is-mobile .column.is-1 {
    flex: 0 0 3.5rem; /* make the avatar column wider on mobile */
    max-width: 3.5rem;
  }
  .box .columns.is-mobile .column.is-1 figure.image img.is-rounded.is-fullwidth {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
  }
  /* Force the avatar figure to be a square and the image to fully cover it */
  .box .columns.is-mobile .column.is-1 figure.image.is-square.is-fullwidth {
    width: 3.5rem;
    height: 3.5rem;
    min-width: 3.5rem;
    overflow: hidden;
  }
  .box .columns.is-mobile .column.is-1 figure.image.is-square.is-fullwidth img.is-rounded.is-fullwidth {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50% !important;
    display: block;
  }
}

/* Make the Added By column a bit wider on larger screens so short names fit on one line */
@media screen and (min-width: 769px) {
  th.added-by {
    width: 10%;
  }
  td.added-by {
    white-space: nowrap;
  }
}

.ugc {
  white-space: pre-wrap;
  word-break: break-word;
}

img.emoji {
  margin: 0px !important;
  vertical-align: middle;
  width: 2em !important;
  height: 2em !important;
}

img.logo-image {
  margin-right: 0.5em;
}

.print {
  display: none;
}
@media print {
  .notprint {
    display: none;
  }
  .print {
    display: block;
  }
}

.print-gift:last-child {
  margin-bottom: 0;
}
